@charset "utf-8";
/* CSS Document */


@import url(//fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans:800);

body {
  font-family: Arimo;
    padding: 0;margin: 0 auto;
}

.ui-tooltip {
	font-size: 12px;
}
.wrapper {
	min-width:940px;
}
.carrito-eliminar{cursor: pointer;}

h1 { 
    display: block;
	color:#d68700;
	margin: 60px 80px 20px 60px;
	font-size:24px;
	font-weight:100;
}
.content h1{
	font-family: 'Open sans', Arial;
}


h2 { 
    display: block;
	color:#d68700;
	margin: 40px 20px 20px 20px;
	font-size:24px;
	font-weight:100;
	

}


.homesliderbg {
	padding-top:20px;
	height:412px;
	margin-top:-15px;
	background-image:url(../images/sliderbg.jpg);	
}







.categorias {
	margin-right:auto;
	margin-left:auto;
    width:810px;
	height:400px;


}

.narrow {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	margin-top: 50px;
	text-align: center;



}


.categoria {
	width:240px;
	height:278px;
	float:left;
	margin:15px;
	background-position: center -1px;
	background-size: 100%;
}


a.cat_hover:link, a.cat_hover:visited {
	display:block;
	background-image:url(../images/menu/over_btn_cat.png);
	background-position:0px 30px;
	background-repeat:no-repeat;
	width:240px;
	height:278px;
	color:rgba(0,0,0,0);
	font-weight:bold;
	line-height:100px;
	font-size:16px;
	text-decoration:none;
	background-color:rgba(236,164,40,0);
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
}

a.cat_hover:hover {
		line-height:200px;
    color:rgba(0,0,0,1);
	background-color:rgba(236,164,40,0.8);
	background-position:0px 0px;


}


.header { 
margin-left:auto;
margin-right:auto;
height:212px;
max-width:940px;
min-width:100px;


}

.logo { 
	display: block;
height:210px;
width:404px;
background-image:url(../images/site_logo.jpg);
float:left;
}

.userdata {
font-size:16px;
float:right;
width:230px;
text-align: right;
}


.user {
	margin-top:20px;
	text-align:right;
}
.username {
	font-weight: bold;
	display: block;
	position: relative;
	width: 450px;
	text-align: right;
	float: right;
}
.databox {
	display:block;
	background-color:#2e2e2e;
	width:230px;
	height:42px;
	line-height:42px;
	margin-top:10px;
	color:#FFF;
	font-weight:bold;
	font-style:italic;
	font-size:16px;
	float:right;
	
}
.puntos {
	color:#d6942e;
	font-weight:bold;
	
}

a.cartbtn:link, a.cartbtn:visited {
	display:block;
	background-image:url(../images/cart_btn_bg.gif);
	width:230px;
	height:42px;
	line-height:38px;
	margin-top:10px;
	text-indent:50px;
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	float:right;
	text-align: center;
}

a.cartbtn:hover {
	text-indent:50px;
	color:#d6942e;
	background-position:-10px 0px;
	
	
}

a.genbtn:link, a.genbtn:visited {
	display: inline-block;
	background-image: url(../images/gen_btn.gif);
	background-position: 70px 0px;
	padding-left: 25px;
	line-height: 24px;
	margin-top: 20px;
	color: #000;
	text-decoration: none;
	
}
a.genbtn:hover{
	color: #F1A408;
}


a.regresar:link, a.regresar:visited {
	display:block;
	background-image:url(../images/gen_btn.gif);
	background-position:685px 0px;
	background-repeat:no-repeat;
	width:940px;
	height:24px;
	line-height:24px;
	margin-top:20px;
	color:#000;
	text-indent:870px;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
}
a.regresar:hover{
    background-position:665px 0px;
	text-indent:850px;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
}

.managerlink{
	position: relative;
	float: right;
	bottom: 45px;
	color: #FFFFFF;
	background: #2e2e2e;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px;
}
.managerlink:hover{
	color: #d68700;
}



/* menu principal */
.menu_base { 
background-image:url(../images/menu/menu_bg.jpg);
}

.menu_container { 
margin-left:auto;
margin-right:auto;
height:112px;
width:810px;
background-image:url(../images/menu/menu_base.gif);

}


/* items del menu */
a.menu_item:link, a.menu_item:visited {
	display:block;
	width:162px;
	height:112px;
	float:left;
	line-height:93px;
	background-image:url(../images/menu/hover.png);
	background-repeat:no-repeat;
	background-position:0px -112px;
	color:#818180;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.menu_item:hover {	
color:#FFF;
line-height:80px;
background-position:0px 0px;
-webkit-transition:all 0.2s ease;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

a.menu_item#active_menu {
color:#FFF;
background-position:0px 0px;
		
} 

a.menu_activo:link, a.menu_activo:visited {
	display:block;
	width:162px;
	height:112px;
	float:left;
	line-height:80px;;
	background-image:url(../images/menu/hover.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
    color:#FFF;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;



}
	
	
.content {
margin-top:-15px;
margin-left:auto;
margin-right:auto;
margin-bottom:100px;
width:940px;

}





.product {
	width:187px;
	height:216px;
	margin:24px 24px 100px 24px;
	float:left;
	background-image:url(../images/product_bg.gif);
	background-repeat:no-repeat;


}

.product_image{
	margin-top:10px;
	text-align:center;

}




.product_price{
	margin-top:20px;
	font-weight: bold;
	font-family: 'Open sans', Arial;
	color: #f08803;
}

.product_add_to_cart {
	display:block;
	background: url(../images/add_cart.gif) -20px center;
	width: 100%;
	height:28px;
	line-height:28px;
	text-indent:0px;
	color:#000;
	font-size:14px;
	border: 0;
	cursor: pointer;
	text-align: left;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.qty-cart{
	padding: 5px;
}
.col-xs-6 {
	display: inline-block;width: 32%;
}

.product_add_to_cart:hover {
	text-indent:40px;
	color:#d6942e;
	background-position: 20px 0px;
}

.product_add_to_cart2{
	display:block;
	float:right;
	background-image:url(../images/add_cart.gif);
	width:187px;
	height:28px;
	line-height:28px;
	text-indent:40px;
	background-position:20px 0px;
	color:#000;
	font-size:14px;
	text-decoration:none;
	border: 0;
	cursor: pointer;
	text-align: left;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.product_add_to_cart2:hover {
	color:#d6942e;
	text-indent:0px;
	background-position:-20px 0px;
}


.add_cart_container { 
margin: 60px 80px 60px 150px;


}


.product_desc_image {
	margin-top:50px;
	width:430px;
	height:455px;
	float:left;
}  




.product_desc {
	margin-top:50px;
	width:438px;
	height:450px;
	background-color:#de9f33;
	background-image:url(../images/product_details_bg.png);
	background-position:bottom;
	background-repeat:no-repeat;
	text-indent:40px;
	color:#fff;
	float:right;

}


.product_name {
	font-size:18px;

}

.product_name_details {
	font-weight:bold;
	font-size:18px;
	padding:15px;
	margin-top:20px;
	text-align:right;
}

.product_text {
	font-size:14px;
	font-weight: bold;
	padding:15px;
	margin-top:10px;
	text-align:right;
}
.product_text span,
.product_name_details span
{
	font-weight: normal;
}
.product_name_details span{
	font-weight: bold;font-family: 'Open sans', Arial;
}
.pagination{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination>li {
display: inline;
}
.pagination>li>a, .pagination>li>span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #DE8E01;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
margin-left: 0;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
color: #777;
cursor: not-allowed;
background-color: #fff;
border-color: #ddd;
}

.clear { clear:both; }

.footer {
font-size:10px;
color:#FFF;
background-image:url(../images/footer.jpg);
height:100px;
margin-top:50px;
}


.ft_legal {
font-size:12px;
padding-top:18px;
color:#FFF;
background-image:url(../images/footer_logos.png);
background-position:center bottom;
background-repeat:no-repeat;
height:50px;
margin-right:auto;
margin-left:auto;

}

#link-print, .link-check{
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	cursor: pointer;
}
#link-print:hover, .link-check:hover{
	color: #D5942E;
}
#button-download{
	background-color: #2e2e2e;
    color: #fff;
    font-size: 16px;
    border: 3px solid #2e2e2e;
	font-weight:bold;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
}
#button-download:hover{
	background-color: #D5942E;
	border-color: #D5942E;
	
}
#button, .btn-primary, .save-btn {
    background-color: #2e2e2e;
    color: #fff;
    font-size: 16px;
    border: 3px solid #2e2e2e;
	font-weight:bold;
    text-decoration: none;
    cursor: pointer;
}

.save-btn{
	position: relative;
	overflow: hidden;
	padding: 6px;
	display: inline-block;
}
.txt-identity{
	border: 1px solid #B3B3B3;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.txt-credential{
	border: 1px solid #B3B3B3;
	margin-top: 5px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	padding: 6px;
	display: inline-block;
	vertical-align: top;
	right: -4px;
	border-radius: 5px 0 0 5px;
}
#uploadFile{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	font-weight: bold;
	font-size: 12px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #9E9E9E;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#button:hover {
    background:#d6942e;
    border: 3px solid #d6942e;
}

#button_login {
	background-color: #d6942e;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	padding: 8px;
	border: 0 !important;
	width: 238px;
}



#button_login:hover {
    background:#2e2e2e;
    border: 3px solid #2e2e2e;
}

#button_confirm {
	margin-top:10px;
    background-color: #2e2e2e;
    color: #fff;
    font-size: 16px;
	font-weight:bold;
	font-style:italic;
    text-decoration: none;
    cursor: pointer;
	border:none;
	width:230px;
	height:42px;
	float:right;
	text-align: center;
	line-height: 2.5;
}
#button_confirm:hover {
    background:#d6942e;
}
.errorMsg ul{
	list-style: none;
	padding: 5px;
	margin: 0 auto 10px;
	font-size: 12px;
	color: red;
	width: 226px;
	border: 1px solid red;
}
.alert-ctn{
	padding: 10px;
	color: green;
	border: 1px solid green;
	width: 100%;
	position: relative;
	top: 40px;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	margin: 0 auto 70px;
}
.back-btn{
	background-color: #2e2e2e;
	float: right;
	padding: 10px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
.back-btn:hover{
	background-color: #d6942e;
}
.textbox {
	font-size: 12px;
	text-align: justify;
	padding: 8px;
	width: 220px;
	background: #FFFFFF;
}
a.ft:link, a.ft:visited, a.ft:active {
	color: #FFF;
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
}

a.ft:hover {
	color: #333;
}

.form-group label.error_label{
	display: block;
	height: 30px;
	margin-top: 10px;
	color: red;
	font-size: 12px;
}

.text-center{
	text-align: center;
}
.hero-unit{
	width: 940px;margin: 0 auto;
}
.titFel{
	color: #D5962F;
	font-weight: bold;
	font-size: 25px;
}
.textFolio{
	font-weight: bold;
}
.order-detail img{
	width: 50px;
	height: 50px;
}
.reg-form{
	width: 510px;
	margin: 0 auto;
}
.reg-form h1{
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
}
.reg-form .form-group{
	text-align: right;
	padding: 10px 0;
}
.reg-form .form-group .form-control{
	padding: 5px;
	display: inline-block;
	width: 50%;
}
.reg-form .form-group label{
	color: #D5962F;
	margin-right: 20px;
	font-weight: bold;
	display: inline-block;
	letter-spacing: 1px;
	text-align: right;
}
.reg-form .btn{
	margin: 40px auto 0;
	background-color: #2e2e2e;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	border: none;
	width: 150px;
	height: 42px;
	text-align: center;
	line-height: 2.5;
}
.reg-form .form-group ul,
.complete-form .form-group ul
{
	display: block;
	padding: 0;
	font-size: 11px;
	margin: 2px 0;
	color: rgb(239, 76, 76);
	position: relative;
	float: right;
}
.reg-form .form-group .input-error,
.complete-form .form-group .input-error
{
	border: 1px solid rgb(239, 76, 76);
}
.alert-error{
	text-align: center;
	border: 1px solid rgb(239, 76, 76);
	color: rgb(239, 76, 76);
	padding: 10px;
	margin: 0 auto 20px;
}
.td-totals{
	text-align: left !important;
	font-weight: bold !important;
}
.td-totals-h{
	text-align: left !important;
	font-weight: bold !important;
}
.admin-btn{
	background: url('../images/admin-btn.png') right center no-repeat;
	text-decoration: none;
	color: #000000;
	padding-right: 30px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	-webkit-transition:all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.admin-btn:hover{
	color: #eaa81e;
}
.round_status{
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	border-radius: 50%;
	cursor: pointer;
}
.status_1{
	background-color: #F1A408;
	border: 2px solid #BA7C00;
}
.status_2{
	background-color: rgb(240, 61, 61);
	border: 2px solid rgb(171, 0, 0);
}
.status_3{
  	background-color: rgb(20, 187, 73);
	border: 2px solid rgb(8, 147, 52);
}
.file_down{
	text-decoration: none;
	color: #0094D5;
	font-weight: bold;
}
.file_down:hover{
	color: #006896;
}
.deactive, .deactive:hover{
	color: #747474;
}
.validate_btn{
	border: none;
	background-color: rgb(20, 187, 73);
	color: #FFFFFF;
	padding: 5px;
	cursor: pointer;
}
.validate_btn:hover{
	background-color: rgb(6, 139, 48);
}
.validate_btn:disabled{
	background-color: rgb(126, 126, 126);	
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

.index_content{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 810px;
}
.index_content .contact_phone{
	background: url('../images/phone_icon.png') left center no-repeat;
	padding-left: 40px;
	font-weight: bold;
	font-size: 18px;
	display: block;
	height: 50px;
	margin-top: 55px;
	line-height: 2.5;
}
.index_content .contact_email{
	background: url('../images/email_icon.png') left center no-repeat;
	padding-left: 40px;
	font-weight: bold;
	font-size: 18px;
	display: block;
	height: 50px;
	line-height: 2.5;
}
.index_content .contact_email a{
	text-decoration: underline;
	color: #F1A408;
}
.index_content .title{
	text-align: center;
}
.index_content h3 span{
	color: #F1A408;
}
.help_link{
	display: inline-block;
	background: url('../images/help_icon.png') left center no-repeat;
	padding-left: 25px;
	background-size: 15px;
	color: #000000;
	text-decoration: none;
	margin-right: 10px;
}
.help_link:hover{color: #F1A408;}
.bases_title{
	font-weight: bold;font-size: 35px;color: #F08803;font-family: 'Open Sans', sans-serif;
}
.form-inline select{
	display: block;
	width: 360px;
	margin: 10px auto;
	padding: 10px;
	font-weight: bold;
	color: #2e2e2e;
	font-size: 16px;
	border: 0;
	cursor: pointer;
}
.month_1 td{
	background-color: #F0F0F0 !important;
	cursor: pointer;
}
.month_2 td{
	background-color: #D7D7D7 !important;
	cursor: pointer;
}
.month_3 td{
	background-color: #F0F0F0 !important;
	cursor: pointer;
}
.month_4 td{
	background-color: #D7D7D7 !important;
	cursor: pointer;
}
.month_5 td{
	background-color: #F0F0F0 !important;
	cursor: pointer;
}
.month_6 td{
	background-color: #D7D7D7 !important;
	cursor: pointer;
}
.month_7 td{
	background-color: #F0F0F0 !important;
	cursor: pointer;
}
.month_8 td{
	background-color: #D7D7D7 !important;
	cursor: pointer;
}
.month_9 td{
	background-color: #F0F0F0 !important;
	cursor: pointer;
}
.month_10 td{
	background-color: #D7D7D7 !important;
	cursor: pointer;
}
.month_11 td{
	background-color: #F0F0F0 !important;
	cursor: pointer;
}
.month_12 td{
	background-color: #D7D7D7 !important;
	cursor: pointer;
}
.table_tl:hover{
	background-color: #FFFFFF !important;
}